<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
    <div id="divFooter" class="footerArea">
        <div class="container">
            <div class="row-fluid">
                <div class="col-6 copyright">
                    Copyright © 2019 | Powered by Noway
                </div>
                <div class="col-6 social_bookmarks">
                    <a href="#"><i class="social foundicon-rss"></i> developer</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

