<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <section id="footer">
        <div class="container">
            <div class="row w-100">
                <div class="col-6">
                    <ul class="list-unstyled list-inline social text-center mb-0">
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-6 text-right text-white">
                    &copy All right Reversed. <a class="text-green ml-2" href="https://www.noway.dev" target="_blank">Noway</a>
                </div>
                </hr>
            </div>
        </div>
    </section>
</footer>

