<head th:fragment="header-master-css" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="description" content="SamatHome | Home">
    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="webjars/bootstrap-datetimepicker/2.4.2/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/site.css}"/>
    <script src="webjars/jquery/3.4.0/dist/jquery.js"></script>
    <script src="webjars/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src="webjars/bootstrap-datetimepicker/2.4.2/js/bootstrap-datetimepicker.min.js"></script>
</head>
<head th:fragment="header-login-css" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="description" content="SamatHome | Login">
    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="webjars/bootstrap-datetimepicker/2.4.2/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/site.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/site_login.css}"/>
</head>