<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-master-css"></head>
<body>
<div th:replace="fragments/menu :: body-top-menu"></div>

<div class="div-center">
    <div class="content">
        <form th:action="@{/api/mqtt/pub/but}"
              method="post"
              class="form-horizontal mb-2">
            <div class="col-auto form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Topic: cmnd/</div>
                    </div>
                    <input type="text"
                           class="form-control"
                           name="topic"
                           value="84"
                           placeholder="topic">
                    <div class="input-group-prepend">
                        <div class="input-group-text">/POWER</div>
                    </div>
                </div>
            </div>
            <div class="col-auto form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Messabe:</div>
                    </div>
                    <input type="text"
                           class="form-control"
                           name="message"
                           value="on"
                           placeholder="message">
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </form>
        <hr/>
        <form th:action="@{/api/mqtt/pub/but}"
              method="post"
              class="form-horizontal mb-2">
            <div class="col-auto form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Topic: cmnd/</div>
                    </div>
                    <input type="text"
                           class="form-control"
                           name="topic"
                           value="84"
                           placeholder="topic">
                    <div class="input-group-prepend">
                        <div class="input-group-text">/POWER</div>
                    </div>
                </div>
            </div>
            <div class="col-auto form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Messabe:</div>
                    </div>
                    <input type="text"
                           class="form-control"
                           name="message"
                           value="off"
                           placeholder="message">
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </form>
        <hr/>
        <form th:action="@{/api/mqtt/pub/cleen}"
              method="post"
              class="form-horizontal mb-2">
            <div class="col-auto form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Cleen topic: </div>
                    </div>
                    <input type="text"
                           class="form-control"
                           name="topic"
                           value="cmnd/84/POWER"
                           placeholder="topic">
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </form>
    </div>
</div>

<footer class="separator" th:replace="fragments/footer :: footer"></footer>
<div class="separator" th:replace="fragments/script :: footer-master-script"></div>
</body>
</html>
