<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="description" content="spring-boot thymeleaf | home ">
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container" style="top: 80px;position: absolute;">
    <div class="row w-100">
        <div class="col-6">
            <form th:action="@{/api/mqtt/sub/start}" method="get">
                <button type="submit" class="btn btn-primary">MQTT Sob ON</button>
            </form>
        </div>
        <div class="col-6">
            <form th:action="@{/api/mqtt/sub/stop}" method="get">
                <button type="submit" class="btn btn-primary">MQTT Sob OFF</button>
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="separator" th:replace="fragments/footer :: footer"></div>
</footer>
<script type="text/javascript">
    $(function () {
        $('#startDatePicker').datetimepicker({
            defaultDate: 'now',
            viewMode: 'days',
            format: 'DD/MM/YYYY'
        });
    });
</script>
<script>
    $('#modal-toTrash').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        $('#modal-toTrashHiddenId').val($(this).find('.btn-ok').attr('href'));
    });
    $('#modal-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        $('#modal-deleteHiddenId').val($(this).find('.btn-ok').attr('href'));
    });
</script>
</body>
</html>
