<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="description" content="spring-boot thymeleaf | home ">
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="tab-content">



</div>
<footer>
    <div class="separator" th:replace="fragments/footer :: footer"></div>
</footer>
<script type="text/javascript">
    $(function () {
        $('#startDatePicker').datetimepicker({
            defaultDate: 'now',
            viewMode: 'days',
            format: 'DD/MM/YYYY'
        });
    });
</script>
<script>
    $('#modal-toTrash').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        $('#modal-toTrashHiddenId').val($(this).find('.btn-ok').attr('href'));
    });
    $('#modal-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        $('#modal-deleteHiddenId').val($(this).find('.btn-ok').attr('href'));
    });
</script>
</body>
</html>
